<header class="header">
  <div class="headline">
    <h1 class="title">Message Board</h1>
    <p class="subheading">Stay connected with your team</p>
  </div>
  <div class="msg-count subheading">
    <%- include('messages') %> <%= messages.length %> messages
  </div>
</header>
