<header class="header">
  <div class="headline">
    <div class="headline__logo"><%- include('logo') %></div>
    <div class="headline__text">
      <h1 class="title">Message Board</h1>
      <p class="subheading">Stay connected with your team</p>
    </div>
  </div>
  <div class="msg-count subheading">
    <%- include('messages') %> <%= messages.length %> messages
  </div>
</header>
