<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <!-- TODO: Create message form -->
  <body>
    <div id="main">
      <%- include('header') %>
      <form class="message-form" method="post" action="/new">
        <div class="form-group">
          <label for="">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            class="message-input"
            placeholder="What's on your mind?"
            required
            rows="5"
          ></textarea>
        </div>
        <div class="options">
          <button class="back-btn" type="button">Back</button>
          <button class="submit-btn">
            <%- include('send') %> Submit message
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
